:root {
	
	--dark-purple: #20003C;
	--gray: #5B5B5B;
	--purple: #8338EC;
	--purple-two: #A26AF1;
	--ivory: #FFFFF3;
	--light-purple: #D8DCFF;
	--violet: #6B4E71;
	
}

html {
	background-color: var(--violet);
}

body {
	background-color: var(--violet);
	color: var(--ivory);
	font-family: trebuchet ms, sans-serif;
	margin: 0px;
}

.topnav {
	background-color: var(--dark-purple);
	overflow: hidden;
}

.topnav a {
	float: left;
	color: var(--purple-two);
	text-align: center;
	padding: 0px 16px;
	text-decoration: none;
	font-size: 18px;
}

.topnav a:hover {
	background-color: var(--purple-two);
	color: var(--dark-purple);
}

.topnav a.active {
	background-color: var(--purple);
	color: var(--ivory);
}

a:link {
	color: var(--purple-two);

a:visited {
	color: var(--purple-two);
}